html {
  scroll-behavior: smooth;
}

/*Home*/
#Home {
	height: 100vh;
	background: black;
}


#cover{
	width: 100%;
	opacity: 0.2;
    filter: alpha(opacity=20);
}
 #Home1 {
	 border-radius: 200px 200px 200px 200px;
	 border: 1px solid #ddd;
	 width:17%;
	 display: block;
	 margin-top:-35px;
	 margin-left: 800px;
	 margin-right: auto;
}

#bawahome {
	margin-top: 35px;
	height : 50vh;
	background: lightgrey;
	background:-webkit-linear-gradient(darkgrey,white);
	background: -moz-linear-gradient(darkgrey,white);
	background: -gradient(darkgrey,white);
}

#welcome{
	font-family : comic sans ms;
	 margin-top:-100px;
	 margin-left: 150px;
	 margin-right: auto;
	
}

/*Into*/
#Intro {
	height: 100vh;
	background: white;
}

#Intro1 {
	padding:6%;
	font-family: cooper black;
	font-size:50px;
}

#Profil1 {
	width:17%;
	display: block;
	margin-top:0px;
	margin-left: auto;
	margin-right: auto;	
	z-index: 2;
}

#bayangan1 {
	width: 100px;
	height: 200px;
	margin-top: -200px;
	margin-right: 540px;	
	float: right;
    background-color:rgb(64,224,208);
    z-index: 1;
}

#bayangan2 {
	width: 100px;
	height: 200px;
	margin-top: -200px;
    margin-left: 540px;	
	float:left;
    background-color:magenta;
    z-index: 1;
}

#kotak1 {
	width: 380px;
	height: 250px;
	margin-top: -250px;
    margin-left: 100px;	
	float:left;
    background-color: black;
	
	 border-radius: 200px 200px 200px 200px;
	 border: 1px solid #ddd;
}

#kotakbayang1 {
	width: 380px;
	height: 250px;
	margin-top: -250px;
    margin-left: 80px;	
	float:left;
    background-color:rgb(64,224,208);
	
	 border-radius: 200px 200px 200px 200px;
	 border: 1px solid #ddd;
}

#teks1{
	margin-top:30px;
	margin-right:40px;
	font-family: comic sans ms;
	color: rgb(64,224,208);
	font-size:25px;
}

#kotak2 {
	width: 380px;
	height: 250px;
	margin-top: -250px;
	margin-right: 100px;	
	float: right;
    background-color:black;
	
	border-radius: 200px 200px 200px 200px;
	border: 1px solid #ddd;

}

#kotakbayang2 {
	width: 380px;
	height: 250px;
	margin-top: -250px;
    margin-right: 80px;	
	float:right;
    background-color:rgb(64,224,208);
	
	border-radius: 200px 200px 200px 200px;
	border: 1px solid #ddd;
}


#teks2{
	margin-top:30px;
	margin-left:40px;
	font-family: comic sans ms;
	color: rgb(64,224,208);
	font-size:25px;
}


#teks3{
	margin-top:10px;
	font-family: comic sans ms;
	color: rblack;
	font-size:30px;
}

/*Skills*/
#Skills {
	height: 100vh;
	background: white;
}

#Skill1 {
	padding:6%;
	font-family: cooper black;
	font-size:50px;
}

#keahlian {
	width: 100%;
	margin-top:-50px;
}


/* Activity */
#Activity {
	height: 100vh;
	background: white;
}

#Activity1 {
	padding:6%;
	font-family: cooper black;
	font-size:50px;
}

#aktifitas {
	margin-left:30px;
	margin-top:-30px;
}

/*Achieve*/
#Achieve {
	height: 100vh;
	background: white;
}

#Achieve1 {
	padding:6%;
	font-family: cooper black;
	font-size:50px;
	margin-top:-420px;
}

#backAchv{
	width:100%;
	margin-top:65px;
}

#bawahAcv{
	width: 100%;
	height: 100%;
    background-color:rgb(66,66,66);
}

#kiri{
	margin-top:190px;
	margin-left:20px;
	font-family: comic sans ms;
	font-size:25px;
	color: rgb(64,224,208);
	float: left;
}

#kanan{
	margin-top:190px;
	margin-right:20px;
	font-family: comic sans ms;
	font-size:25px;
	color: rgb(64,224,208);
	float: right;
}

/*Contact*/
#Contact {
	height: 100vh;
	background: white;
}

#Contact1 {
	padding:6%;
	font-family: cooper black;
	font-size:50px;
}

#kiri2{
	width:38%;
	margin-left: 100px;
	margin-top: -50px;
	float: left;
}

#kanan2{
	width:40%;
	height: 72%;
	margin-top: -30px;
	margin-right: 120px;
	float:right;
}

#Icon{
	width:20%;
	margin-top: 12px;
	margin-left: 60px;
}

nav {
	width :100%;
	background-color: black;
	position:fixed;
}

/*Question*/
.container{
	height: 100%;
	background: white;
}

#pesan{
	margin-top:100px;
	font-family: cooper black;
	color: magenta;
}


form{
	margin-top:60px;
	background-color:white;
}

.form-group{
	font-family:Comic sans ms;
	font-size:18px;
}

