{% load static %}
	 {% include 'Base.html' %}
	<div id="Activity" class="container-responsive">
		<h1 id="Activity1" style="color: magenta" align="center">Activity</h1>
		<img id="aktifitas" src="{% static 'Activity1.jpg' %}"></img>
		<img id="aktifitas" src="{% static 'Activity2.jpg' %}"></img>
		<img id="aktifitas" src="{% static 'Activity3.jpg' %}"></img>
		<img id="aktifitas" src="{% static 'Activity4.jpg' %}"></img>
		<img id="aktifitas" src="{% static 'Activity5.jpg' %}"></img>
		
	</div>
