<!doctype html>

{%load static%}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'css.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">


    <title>Profil Yobelio</title>
  </head>
  <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                 <a class="nav-link" href="/home" style="color:white">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/intro" style="color:white">Intro</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/skills" style="color:white">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/activity" style="color:white"> Activity</a>
            </li>
			<li class="nav-item">
                 <a class="nav-link" href="/achieve" style="color:white"> Achieve</a>
            </li>
			<li class="nav-item">
                <a class="nav-link" href="/contact" style="color:white"> Contact</a>
            </li>
			<li class="nav-item">
               <a class="nav-link" href="/question" style="color:white"> Any Question?</a>
            </li>
        </ul>
    </div>
</nav>
{% block content %}
{% endblock %}
 </body>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% block jquery %}
{% endblock %}
</html>