{% load static %}
	 {% include 'Base.html' %}
	<div id="Contact" class="container-responsive">
		<h1 id="Contact1" style="color: magenta" align="center">Contact Person</h1>
		<div>
			<img  id="kiri2" src="{% static 'Contact1.jpg' %}"></img>
		</div>
		
		<div id="kanan2">
			<a href="https://gitlab.com/yobelioe17" target="_blank"><img id="Icon" src="{% static 'Gitlab.png' %}"></img></a>
			<a href="https://github.com/yobelioe17" target="_blank"><img id="Icon" src="{% static 'Github.png' %}"></img></a>
			<a href="https://www.linkedin.com/in/yobelio-ekaharja-putra-0a1ab1171/" target="_blank"><img id="Icon" src="{% static 'LinkedIn.png' %}"></img></a>
			<br>
			<br>
			<a href="https://www.instagram.com/yobelio_ekaharja/" target="_blank"><img id="Icon" src="{% static 'instagram.png' %}"></img></a>
			<a href="https://web.facebook.com/yobelio.ekaharja?ref=bookmarks" target="_blank"><img id="Icon" src="{% static 'FB.png' %}"></img></a>
			<a href=" https://twitter.com/yobelioe17" target="_blank"><img id="Icon" src="{% static 'Twitter.png' %}"></img></a>
			<br>
			<br>
			<a href="https://line.me/ti/p/xr6LaBhuY1" target="_blank"><img id="Icon" src="{% static 'Line.png' %}"></img></a>
			<a href="https://t.me/yobelioe17" target="_blank"><img id="Icon" src="{% static 'Telegram.png' %}"></img></a>
			<a href="https://api.whatsapp.com/send?phone=6287831078522" target="_blank"><img id="Icon" src="{% static 'Wa.png' %}"></img></a>
		</div>
	</div>
