{% load static %}
	 {% include 'Base.html' %}
	<div id="Home" class="container-responsive">
		<div>
			<img id="cover" src="{% static 'Cover1.jpg' %}"></img>
		</div>
		<div id="bawahome" >
			<img id="Home1" src="{% static 'Yobelio.jpg' %}"></img>
			<b>
			<h1 id="welcome">Yobelio Ekaharja P.</h1>
			<h2 id="welcome">The Next Future Leader</h2>
			</b>
		</div>
	</div>
