{% load static %}
	 {% include 'Base.html' %}
	
	<div class="container">
		<h2 id="pesan" align="center"><b>Jika anda memiliki pertanyaan,<br>silakan mengisi form yang ada di bawah ini</b></h2>
		<form>
			<div class="form-group">
				<label for="nama">Nama Anda:</label>
				<input type="text" class="form-control">
			</div>
			<div class="form-group">
				<label for="alamat">Pesan anda:</label>
				<textarea type="text" class="form-control" id="alamat" rows="7"></textarea>
			</div>
			<button type="submit" class="btn btn-primary">Kirim</button>
		</form>
	</div>