{% load static %}
	 {% include 'Base.html' %}
	<div id="Skills" class="container-responsive">
		<h1 id="Skill1" style="color: magenta" align="center">Skills</h1>
		<div>
			<img id="keahlian" src="{% static 'Skill.jpg' %}"></img>
		</div>
	</div>
